@model CoursePasswordViewModel

<form asp-action="Enroll" method="post">
    @Html.AntiForgeryToken()
<div class="form-group ">
        <label class="control-label" asp-for="Password">
                            Password
          </label>
               <input type="password" class="form-control" asp-for="Password"  />
            </div>
            <div>
             <p></p>
             <input type="hidden" asp-for="CourseId" value="@Model.CourseId"/>
         <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
 </form>