@inject SkillCrest_LearningPlatform.Services.Interfaces.IBaseService BaseService

@model UserListViewModel

@{
    ViewData["Title"] = "User List";
    var currentUserId = BaseService.GetUserId().ToString();
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.ShortDetails)
        {
            <tr>
                <td>@user.UserName</td>
                <td>
                    @if (Model.CreatorId == currentUserId || await BaseService.IsAdmin() )
                    {
                        if (user.Id == Model.CreatorId)
                        {
                            <p>You</p>
                        }
                        else
                        {
                        <a type="button" class="btn btn-primary" asp-action="RemoveUser" asp-controller="Course" asp-route-courseId="@Model.CurrentCourseId" asp-roud-userId="@user.Id">Remove User</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>