@page
@model ErrorViewModel

<h1>Something went wrong (500)</h1>
<p>We encountered an error while processing your request. Please try again later.</p>
<p>If the problem persists, please contact support.</p>
<p>Return to <a href="@Url.Action("Index", "Home")">Home Page</a>.</p>