.completion-btn {
    background-color: transparent; 
    border: 2px solid transparent; 
    color: #fff; 
    cursor: pointer;
    padding: 8px 12px; 
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, border-color 0.3s;
}

    .completion-btn.incomplete {
        background-color: #ffcc00; 
        border-color: #ff9900; 
    }

    .completion-btn.completed {
        background-color: #4caf50; 
        border-color: #388e3c; 
    }

    .completion-btn i {
        margin-right: 8px; 
    }

.profile-container {
    text-align: left;
    position: relative;
    margin: 20px;
}

.profile-thumbnail {
    width: 80px; 
    height: 80px; 
    border-radius: 50%; 
    overflow: hidden;
    border: 2px solid #ccc; 
    background-color: #f0f0f0; 
    margin: 0 auto; 
}
.profile-image {
    width: 100%;
    height: auto;
}

.username {
    margin-top: 10px; 
    font-size: 1.5em; 
}