.completion-btn {
    background-color: transparent; 
    border: 2px solid transparent; 
    color: #fff; 
    cursor: pointer;
    padding: 8px 12px; 
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, border-color 0.3s;
}

    .completion-btn.incomplete {
        background-color: #ffcc00; 
        border-color: #ff9900; 
    }

    .completion-btn.completed {
        background-color: #4caf50; 
        border-color: #388e3c; 
    }

    .completion-btn i {
        margin-right: 8px; 
    }

.profile-container {
    text-align: center;
    position: relative;
    margin: 20px;
}

.profile-thumbnail {
    width: 80px; /* Width of the thumbnail */
    height: 80px; /* Height of the thumbnail */
    border-radius: 50%; /* Make it circular */
    overflow: hidden;
    border: 2px solid #ccc; /* Optional border */
    background-color: #f0f0f0; /* Fallback color */
    margin: 0 auto; /* Center the thumbnail */
}
.profile-image {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
}

.username {
    margin-top: 10px; /* Ensure there's space below the thumbnail */
    font-size: 1.5em; /* Adjust size as needed */
}